<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!--DAL 层注入DbContext对象属性：ArchitectureFrameEntities-->
  <object id="Repository" abstract="true" scope="request">
    <constructor-arg ref="ArchitectureFrameEntities"/>
  </object>

  <object id="CategoryDAL" type="ArchitectureFrame.DAL.CategoryDAL,ArchitectureFrame.DAL" parent="Repository" scope="request"/>
  <object id="ArticleDAL" type="ArchitectureFrame.DAL.ArticleDAL,ArchitectureFrame.DAL" parent="Repository" scope="request"/>
  <object id="UserDAL" type="ArchitectureFrame.DAL.UserDAL,ArchitectureFrame.DAL" parent="Repository" scope="request"/>
  <object id="RoleDAL" type="ArchitectureFrame.DAL.RoleDAL,ArchitectureFrame.DAL" parent="Repository" scope="request"/>
</objects>