<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!--EF上下文DbContext中注入Mappings对象属性:List<IMapping>类型-->
  <object id="ArchitectureDbContext" type="ArchitectureFrame.Model.ArchitectureFrameEntities,ArchitectureFrame.Model" scope="request" singleton="false">
    <property name="MappingInstances">
      <list element-type="ArchitectureFrame.Model.Mappings.IMapping,ArchitectureFrame.Model">
        <ref object="CategoryMapping"/>
        <ref object="ArticleMapping"/>
      </list>
    </property>
  </object>
         
</objects>