
@{
    Layout = null;
}
<div class="container">
    <div class="about-grids">
        <div class="col-md-6 about-grid-left">
            <h3>About Us</h3>
            <img src="~/Areas/Public/Images/Home/7.jpg" alt=" " class="img-responsive" />
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus
                qui blanditiis praesentium.Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium.
            </p>
            <div class="company-grids">
                <div class="company-grid">
                    <img src="~/Areas/Public/Images/Home/1.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="company-grid">
                    <img src="~/Areas/Public/Images/Home/2.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="company-grid">
                    <img src="~/Areas/Public/Images/Home/5.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="clearfix"> </div>
                <div class="company-grid">
                    <img src="~/Areas/Public/Images/Home/3.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="company-grid">
                    <img src="~/Areas/Public/Images/Home/4.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="company-grid">
                    <img src="~/Areas/Public/Images/Home/6.jpg" alt=" " class="img-responsive" />
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-6 about-grid-right">
            <h3>Mission Statements</h3>
            <div class="col-sm-2 about-grid-lft">
                <p>1</p>
            </div>
            <div class="col-sm-10 about-grid-rgt">
                <h4>
                    Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque aut perferendis
                </h4>
                <p>
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                    saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus voluptas assumenda est, omnis dolor repellendus.
                    Temporibus autem quibusdam.
                </p>
            </div>
            <div class="clearfix"> </div>
            <div class="col-sm-2 about-grid-lft">
                <p>2</p>
            </div>
            <div class="col-sm-10 about-grid-rgt">
                <h4>
                    Sapiente libero tempore, cum soluta nobis est
                    eligendi optio cumque aut perferendis
                </h4>
                <p>
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                    saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus voluptas assumenda est, omnis dolor repellendus.
                    Temporibus autem quibusdam.
                </p>
            </div>
            <div class="clearfix"> </div>
            <div class="col-sm-2 about-grid-lft">
                <p>3</p>
            </div>
            <div class="col-sm-10 about-grid-rgt">
                <h4>
                    Debitis libero tempore, cum soluta nobis est
                    eligendi optio cumque aut perferendis
                </h4>
                <p>
                    Repudiandae autem quibusdam et aut officiis debitis aut rerum necessitatibus
                    saepe eveniet ut et voluptates repudiandae sint et molestiae non
                    recusandae. Itaque earum rerum hic tenetur a sapiente delectus voluptas assumenda est, omnis dolor repellendus.
                    Temporibus autem quibusdam.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="testimonials">
        <h3>Testimonials</h3>
        <div class="col-md-4 testimonial">
            <p>
                Repudiandae autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudiandae sint et molestiae non
                recusandae.
            </p>
            <h4>Mark Flix</h4>
        </div>
        <div class="col-md-4 testimonial">
            <p>
                Repudiandae autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudiandae sint et molestiae non
                recusandae.
            </p>
            <h4>Mark Carl</h4>
        </div>
        <div class="col-md-4 testimonial">
            <p>
                Repudiandae autem quibusdam et aut officiis debitis aut rerum necessitatibus
                saepe eveniet ut et voluptates repudiandae sint et molestiae non
                recusandae.
            </p>
            <h4>James Frik</h4>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="team">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="col-md-4 team-grid">
            <img src="~/Areas/Public/Images/Home/3.png" alt=" " class="img-responsive" />
            <h4>Priston<span>Chief Engineer</span></h4>
            <p>Itaque earum rerum hic tenetur a sapiente delectus voluptas assumenda est, omnis dolor.</p>
            <div class="social">
                <ul>
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="twitter"> </a></li>
                    <li><a href="#" class="g"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 team-grid">
            <img src="~/Areas/Public/Images/Home/5.png" alt=" " class="img-responsive" />
            <h4>John Franklin<span>Chief Engineer</span></h4>
            <p>Itaque earum rerum hic tenetur a sapiente delectus voluptas assumenda est, omnis dolor.</p>
            <div class="social">
                <ul>
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="twitter"> </a></li>
                    <li><a href="#" class="g"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 team-grid">
            <img src="~/Areas/Public/Images/Home/4.png" alt=" " class="img-responsive" />
            <h4>Lara Mark<span>Chief Engineer</span></h4>
            <p>Itaque earum rerum hic tenetur a sapiente delectus voluptas assumenda est, omnis dolor.</p>
            <div class="social">
                <ul>
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="twitter"> </a></li>
                    <li><a href="#" class="g"> </a></li>
                    <li><a href="#" class="in"> </a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
