
@{
    Layout = null;
}
<div class="container">
    <h3>Contact</h3>
    <div class="map">
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.1973950112197!2d90.39410240000001!3d23.7403393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8bfe09f2fc9%3A0x1da49bc0abfd4f7a!2sShahbagh%2C+Dhaka%2C+Bangladesh!5e0!3m2!1sen!2sin!4v1432554662723" frameborder="0" style="border:0"></iframe>*@
        <div class="map-color">
            <div class="contact-info">
                <h4>Contact Info</h4>
                <p>
                    252, Dolors Road, MKM Tower,
                    <span>Velter Road, Delhi</span>
                    Phone Number: 01918-009393
                </p>
                <form>
                    <input type="text" value="Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name';}" required="">
                    <input type="email" value="Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="text" value="Subject" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Subject';}" required="">
                    <textarea type="text" onfocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Send Message">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>