
@{
    Layout = null;
}
<div class="container">
    <h3>Products</h3>
    <div class="product-grids">
        <div class="col-md-4 product-grid">
            <div class="product-grd">
                <a href="~/Areas/Public/Images/Home/13.jpg" class="b-link-stripe b-animate-go1 swipebox" title="">
                    <img src="~/Areas/Public/Images/Home/13.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="project-grid-text1">
                    <h4> voluptatibus maiores alias perferendis</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus .
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 product-grid">
            <div class="product-grd">
                <a href="~/Areas/Public/Images/Home/8.jpg" class="b-link-stripe b-animate-go1   swipebox" title="">
                    <img src="~/Areas/Public/Images/Home/8.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="project-grid-text1">
                    <h4> voluptatibus maiores alias perferendis</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus .
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 product-grid">
            <div class="product-grd">
                <a href="~/Areas/Public/Images/Home/9.jpg" class="b-link-stripe b-animate-go1 swipebox" title="">
                    <img src="~/Areas/Public/Images/Home/9.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="project-grid-text1">
                    <h4> voluptatibus maiores alias perferendis</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus .
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="product-grids">
        <div class="col-md-4 product-grid">
            <div class="product-grd">
                <a href="~/Areas/Public/Images/Home/10.jpg" class="b-link-stripe b-animate-go1 swipebox" title="">
                    <img src="~/Areas/Public/Images/Home/10.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="project-grid-text1">
                    <h4> voluptatibus maiores alias perferendis</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus .
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 product-grid">
            <div class="product-grd">
                <a href="~/Areas/Public/Images/Home/11.jpg" class="b-link-stripe b-animate-go1 swipebox" title="">
                    <img src="~/Areas/Public/Images/Home/11.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="project-grid-text1">
                    <h4> voluptatibus maiores alias perferendis</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus .
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 product-grid">
            <div class="product-grd">
                <a href="~/Areas/Public/Images/Home/12.jpg" class="b-link-stripe b-animate-go1 swipebox" title="">
                    <img src="~/Areas/Public/Images/Home/12.jpg" alt=" " class="img-responsive" />
                </a>
                <div class="project-grid-text1">
                    <h4> voluptatibus maiores alias perferendis</h4>
                    <p>
                        Itaque earum rerum hic tenetur a sapiente delectus,
                        ut aut reiciendis voluptatibus .
                    </p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <link href="~/Areas/Public/Css/PageCss/swipebox.css" rel="stylesheet" />
        <script src="~/_storage/Js/jquery.swipebox.min.js"></script>
        <script type="text/javascript">
                    jQuery(function ($) {
                        $(".swipebox").swipebox();
                    });
        </script>
    </div>
</div>
