
@{
    Layout = null;
}

<div class="container">
    <div class="services-grids">
        <div class="col-md-3 services-grid">
            <div class="services-grd">
                <div class="gear">
                    <span> </span>
                </div>
                <h3>eligendi cumque nihil impedit</h3>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus,
                    ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.
                </p>
                <div class="more">
                    <a href="#" class="hvr-bounce-to-top">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 services-grid">
            <div class="services-grd">
                <div class="men">
                    <span> </span>
                </div>
                <h3>repellat cumque nihil impedit</h3>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus,
                    ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.
                </p>
                <div class="more">
                    <a href="#" class="hvr-bounce-to-top">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 services-grid">
            <div class="services-grd">
                <div class="rupee">
                    <span> </span>
                </div>
                <h3>sapiente cumque nihil impedit</h3>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus,
                    ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.
                </p>
                <div class="more">
                    <a href="#" class="hvr-bounce-to-top">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 services-grid">
            <div class="services-grd">
                <div class="truck">
                    <span> </span>
                </div>
                <h3>maiores cumque nihil impedit</h3>
                <p>
                    Itaque earum rerum hic tenetur a sapiente delectus,
                    ut aut reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.
                </p>
                <div class="more">
                    <a href="#" class="hvr-bounce-to-top">Read More</a>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>