/*li.active {
    background: #52b6ec;
    border-radius:3px;
}
li a:hover {
    background:#52b6ec;
}*/

.navbar-default {
    background: #52b6ec;
    border-radius: 0 0 5px 5px;
    border: 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}

    .navbar-default .first a {
        border-radius: 0 0 0 5px;
    }

    .navbar-default .navbar-brand {
        margin-right: 10px;
        margin-left: 70px;
        width: 80px;
        height: 78px;
        background: url(../../Images/Home/gears.png) no-repeat 0 50%;
    }

    .navbar-default .navbar-nav > li {
        margin-left: 1px;
    }

        .navbar-default .navbar-nav > li > a {
            padding: 30px 25px;
            font-size: 16px;
            line-height: 18px;
            color: white;
        }

            .navbar-default .navbar-nav > li > a > i {
                display: inline-block;
            }

        .navbar-default .navbar-nav > li.active > a,
        .navbar-default .navbar-nav > li.active:focus > a,
        .navbar-default .navbar-nav > li.active:hover > a,
        .navbar-default .navbar-nav > li:hover > a,
        .navbar-default .navbar-nav > li:focus > a,
        .navbar-default .navbar-nav > li.active > a:focus,
        .navbar-default .navbar-nav > li.active:focus > a:focus,
        .navbar-default .navbar-nav > li.active:hover > a:focus,
        .navbar-default .navbar-nav > li:hover > a:focus,
        .navbar-default .navbar-nav > li:focus > a:focus {
            background-color: #168eea;
            color: #fff;
        }

.navbar {
    margin-bottom: 0px;
}

.nav-sub {
    margin-top: 20px;
}

.navbar-nav .dropdown .dropdown-menu {
    width: 320px;
    background: #F2F2F2;
}

.tab-content > div {
    padding: 15px;
    padding-bottom: 0px;
}

