/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/
label.error {
    margin-left: 10px;
    color: red;
}
/*.form-group button { 
    outline: none;
    border: none;
    padding: 8px 0px;
    width: 30%;
    background: #168EEA;
    color: #fff;
    font-size: 15px;
    border-bottom: 3px solid #09314F;
    text-decoration: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.form-group button:hover {
    background: #f4f4f4;
    color: #168EEA;
}*/
